<div class="container-fluid mt-4 mb-4">
    <h2>Missions</h2>
    <hr>
    <div class="row">
        <div class="col">
           <mat-form-field class="w-100">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter(searchMission.value)" #searchMission>
                <mat-icon matSuffix>search</mat-icon>
           </mat-form-field>             
        </div>
        <div class="col">
            <!-- <button class="btn btn-primary active" type="button" style="float: right;" 
            routerLink="/AdminPage/UpsertMission" mat-fab extended><mat-icon>add</mat-icon> Add</button> -->
            <button class="btn btn-primary active" type="button" style="float: right;" 
            (click)="openUpsertMission()" mat-fab extended matTooltip="Add Mission"><mat-icon>add</mat-icon> Add</button>
        </div>             
    </div>
    <div class="mat-elevation-z8 mt-2 table-responsive">
    <table mat-table [dataSource]="missionData" matSort>
        <ng-container matColumnDef="missionTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mission Title</th>
            <td mat-cell *matCellDef="let row">{{row.missionTitle}}</td>
        </ng-container>
        <ng-container matColumnDef="missionType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mission Type</th>
            <td mat-cell *matCellDef="let row">{{row.missionType}}</td>
        </ng-container>
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
            <td mat-cell *matCellDef="let row">{{row.startDate | date:'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
            <td mat-cell *matCellDef="let row">{{row.endDate | date:'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row"><a (click)="openUpsertMission(row.missionId)" 
                style="margin-right: 0.5em;"><mat-icon color="primary" matTooltip="Edit Mission">edit</mat-icon></a>
                <a (click)="deleteRecord(row)"><mat-icon color="warn" matTooltip="Delete Mission">delete</mat-icon></a></td>            
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5" *ngIf="searchMission.value" style="text-align: center;">
                No data matching the filter "{{searchMission.value}}"</td>
            <td class="mat-cell" colspan="5" *ngIf="!searchMission.value" style="text-align: center;">
                No Records Found</td>
        </tr>
    </table>
    <mat-paginator showFirstLastButtons [pageSizeOptions]="[5,10,25,50,100]" aria-label="Select page of mission"
    (page)="onPagination($event, searchMission.value)"></mat-paginator>
</div>

<!-- <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>End Date</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.endDate | date:'dd/MM/yyyy'}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
            <td mat-cell *matCellDef="let row">{{row.endDate | date:'dd/MM/yyyy'}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-header-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
    <!-- <div class="row">
        <div class="input-group col">
            <input class="form-control" type="text" placeholder="Search for..."/>
             <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
        <div class="col">
            <button class="btn btn-primary active" type="button" style="float: right;" routerLink="/AdminPage/UpsertMission" mat-fab extended><mat-icon>add</mat-icon> Add</button>
        </div>             
    </div>
    
    <table class="table table-striped table-bordered table-hover table-responsive mt-2">
        <thead>
            <tr>
                <th>Mission Title</th>
                <th>Mission Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mission of missionData">
                <td>{{mission.missionTitle}}</td>
                <td>{{mission.missionType}}</td>
                <td>{{mission.startDate | date:'dd/MM/yyyy'}}</td>
                <td>{{mission.endDate | date:'dd/MM/yyyy'}}</td>
                <td><a routerLink="/AdminPage/UpsertMission" [queryParams]="{id: mission.missionId}" 
                    class="link-primary active" style="margin-right: 0.5em;"><mat-icon>edit</mat-icon></a>
                    <a class="link-danger" (click)="deleteRecord(mission)"><mat-icon>delete</mat-icon></a></td>
            </tr>
        </tbody>
    </table> -->
</div>
