<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    CI (Community investment / corporate social investment / Community social investment) platform
                </div>
                <div class="card-body">
                    The platform will allow the company to “plan and manage effort that seeks to motivate and enable 
                    employees to effectively serve community needs through the leadership of the employer. CI 
                    (Community investment / corporate social investment / Community social investment) platform can also 
                    be called employee volunteer program, workplace volunteer programs, corporate volunteer programs, 
                    company volunteer programs, and other iterations. These programs are typically built to support a 
                    company’s larger corporate social responsibility program (CSR) or community engagement program or 
                    community investment program. Companies may have specific reasoning for building such platforms like 
                    building a positive brand reputation or increasing employee engagement in the community.
                </div>
            </div>
        </div>
    </div>
</div>
